<a href="https://colab.research.google.com/github/shumyyla/TTDS/blob/master/missing%20value.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import pandas as pd
import math
import numpy as np

In [10]:
data = [2]

In [3]:
pd.Series(data)

0    2
1    3
2    4
3    5
4    5
5    6
6    6
dtype: int64

In [7]:
dict = {
    1: 'shumaila',
    2: 'zeenat',
    3: 'zainab'
}

In [5]:
pd.Series(dict)

1    shumaila
2      zeenat
3      zainab
dtype: object

In [16]:
pd.DataFrame(dict,data)

     name city hobby
2  zainab  lhr

In [37]:
dict = {
    'name': pd.Series(['shumaila','zeenat','zainab']),
    'city': pd.Series(['vhr','vhr','lhr']),
    'hobby': pd.Series(['painting']),
    'marks': pd.Series([80,86,90])
}

In [38]:
df = pd.DataFrame(dict)

In [39]:
df

       name city     hobby  marks
0  shumaila  vhr  painting     80
1    zeenat  vhr       NaN     86
2    zainab  lhr       NaN     90

In [40]:
df.isna()

    name   city  hobby  marks
0  False  False  False  False
1  False  False   True  False
2  False  False   True  False

In [41]:
df.notna()

   name  city  hobby  marks
0  True  True   True   True
1  True  True  False   True
2  True  True  False   True

In [42]:
df.isnull()

    name   city  hobby  marks
0  False  False  False  False
1  False  False   True  False
2  False  False   True  False

In [43]:
df.replace(np.nan,'do not know').head()

       name city        hobby  marks
0  shumaila  vhr     painting     80
1    zeenat  vhr  do not know     86
2    zainab  lhr  do not know     90

In [44]:
df.replace('do not know',np.nan)

       name city     hobby  marks
0  shumaila  vhr  painting     80
1    zeenat  vhr       NaN     86
2    zainab  lhr       NaN     90

In [45]:
df['marks'].dtype

dtype('int64')

In [46]:
df['marks']=df['marks'].astype(float)

In [50]:
df.marks.mean()

85.33333333333333

In [52]:
df.info

<bound method DataFrame.info of        name city     hobby  marks
0  shumaila  vhr  painting   80.0
1    zeenat  vhr       NaN   86.0
2    zainab  lhr       NaN   90.0>

In [55]:
df.marks.value_counts()

80.0    1
86.0    1
90.0    1
Name: marks, dtype: int64

In [56]:
df.marks.mode()

0    80.0
1    86.0
2    90.0
Name: marks, dtype: float64

In [58]:
df.isna().sum()

name     0
city     0
hobby    2
marks    0
dtype: int64

In [59]:
mask = df.isna().sum()