<a href="https://colab.research.google.com/github/shumyyla/test/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/titanic.csv')

In [ ]:
df.head(10)

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
5,6,28.0,8.4583,0,0,0,0,0,0,0,...,0,0,0,3,0,0,1.0,0,0,0
6,7,54.0,51.8625,0,0,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,0
7,8,2.0,21.0750,0,3,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
8,9,27.0,11.1333,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
9,10,14.0,30.0708,1,1,0,0,0,0,0,...,0,0,0,2,0,0,0.0,0,0,1

In [ ]:
df

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,28.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1305,1306,39.0,108.9000,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,0
1306,1307,38.5,7.2500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1307,1308,28.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1308,1309,28.0,22.3583,0,1,0,0,0,0,0,...,0,0,0,3,0,0,0.0,0,0,0

In [ ]:
people = {
    'name' : ['shumaila','sehar','zuha','hamiza','hooria'],
    'age' : [22,23,19,20,19],
    'city' : ['vehari','chishtian','choonia','choonia','jehlum'],
    'bg' : ['A+','A+','A+','AB+','O+']
}

In [ ]:
people

{'name': ['shumaila', 'sehar', 'zuha', 'hamiza', 'hooria'],
 'age': [22, 23, 19, 20, 19],
 'city': ['vehari', 'chishtian', 'choonia', 'choonia', 'jehlum'],
 'bg': ['A+', 'A+', 'A+', 'AB+', 'O+']}

In [ ]:
mylist = people['name']
mylist

['shumaila', 'sehar', 'zuha', 'hamiza', 'hooria']

In [ ]:
pd.get_option('display.max_columns')

20

In [ ]:
pd.set_option('display.max_columns',40)

In [ ]:
df

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,zero.5,zero.6,Parch,zero.7,zero.8,zero.9,zero.10,zero.11,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,2.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,28.0,8.0500,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,2.0,0,0,0
1305,1306,39.0,108.9000,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0.0,0,0,0
1306,1307,38.5,7.2500,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,2.0,0,0,0
1307,1308,28.0,8.0500,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,3,0,0,2.0,0,0,0
1308,1309,28.0,22.3583,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,3,0,0,0.0,0,0,0

In [ ]:
pd.get_option('display.max_rows')

60

In [ ]:
df.head(10).style.set_table_styles(
[{'selector': 'th',
  'props': [('background', '#E74C3C'), 
            ('color', 'white'),
            ('font-family', 'Times new roman')]},
 
 {'selector': 'td',
  'props': [('font-family', 'Times new roman')]},

 {'selector': 'tr:nth-of-type(odd)',
  'props': [('background', '#b3d4ff')]}, 
 
 {'selector': 'tr:nth-of-type(even)',
  'props': [('background', '#008080')]},
 
 {'selector': 'tr:hover',
  'props': [('background', '#fd7f6f')]},
 
]
).hide_index()

In [ ]:
import numpy as np

In [ ]:
list = ['shumaila','nabeela','numan','ahmed','ayesha']

In [ ]:
s = pd.Series(data=list)

In [ ]:
s

0    shumaila
1     nabeela
2       numan
3       ahmed
4      ayesha
dtype: object

In [ ]:
list = ['shumaila','nabeela','numan','ahmed','ayesha']
indices = ['team lead','team lead','searching','searching',np.nan]

In [ ]:
t = pd.Series(data=list, index=indices, name='team vehari')

In [ ]:
t

team lead    shumaila
team lead     nabeela
searching       numan
searching       ahmed
NaN            ayesha
Name: team vehari, dtype: object

In [ ]:
print(type(t))

<class 'pandas.core.series.Series'>

In [ ]:
people = {
    'name' : ['shumaila','sehar','zuha','hamiza','hooria'],
    'age' : [22,23,19,20,19],
    'city' : ['vehari','chishtian','choonia','choonia','jehlum'],
    'bg' : ['A+','A+','A+','AB+','O+']
}

e = pd.Series(data=people)

In [ ]:
e

name          [shumaila, sehar, zuha, hamiza, hooria]
age                              [22, 23, 19, 20, 19]
city    [vehari, chishtian, choonia, choonia, jehlum]
bg                              [A+, A+, A+, AB+, O+]
dtype: object

In [ ]:
my_dict = {0:"Rauf", 1:np.nan, 2:"Maaz", 3:"Hadeed", 4:"Mujahid", 5:"Mohid", 6:"Jamil"}
s = pd.Series(my_dict, name="myseries1")
s

0       Rauf
1        NaN
2       Maaz
3     Hadeed
4    Mujahid
5      Mohid
6      Jamil
Name: myseries1, dtype: object

In [ ]:
s.name

'myseries1'

In [ ]:
s.values

array(['Rauf', nan, 'Maaz', 'Hadeed', 'Mujahid', 'Mohid', 'Jamil'],
      dtype=object)

In [ ]:
s.ndim

1

In [ ]:
s.size

7

In [ ]:
list1 = ['Rauf', 'Arif', 'Maaz', 'Hadeed', 'Mujahid']
s = pd.Series(data=list1)
print(s)
print(s.index)

0       Rauf
1       Arif
2       Maaz
3     Hadeed
4    Mujahid
dtype: object
RangeIndex(start=0, stop=5, step=1)

In [ ]:
arr1 = np.random.randint(low = 100, high = 200, size = 5)

s.index = arr1

print(s)
print(s.index)

174       Rauf
144       Arif
154       Maaz
199     Hadeed
168    Mujahid
dtype: object
Int64Index([174, 144, 154, 199, 168], dtype='int64')

In [2]:
import pandas as pd
list1 = ['Rauf', 'Arif', 'Maaz', 'Hadeed', 'Mujahid']
indices = [5, 10, 15, 20, 25]
s = pd.Series(data=list1, index=indices)
s

5        Rauf
10       Arif
15       Maaz
20     Hadeed
25    Mujahid
dtype: object

In [9]:
s[0:3]

5     Rauf
10    Arif
15    Maaz
dtype: object

In [ ]:
s[1]

KeyError: ignored

In [ ]:
s[10]

'Arif'

In [ ]:
s.loc[20]

'Hadeed'

In [ ]:
s.iloc[1]

'Arif'

In [ ]:
#fancy indexing
s[[20, 10]]

20    Hadeed
10      Arif
dtype: object

In [ ]:
s.iloc[[2,1]]

15    Maaz
10    Arif
dtype: object

In [ ]:
s.loc[[20,5]]

20    Hadeed
5       Rauf
dtype: object

In [ ]:
#-ve indexing works only for iloc
s.iloc[-1]

'Mujahid'

In [ ]:
s.loc[-1]

KeyError: ignored

In [ ]:
s[2]

KeyError: ignored

In [ ]:
list1 = ['Rauf', 'Arif', 'Maaz', 'Hadeed', 'Mujahid']
indices = [5, 10, 15, 20, 25]
s = pd.Series(data=list1, index=indices)
s

5        Rauf
10       Arif
15       Maaz
20     Hadeed
25    Mujahid
dtype: object

In [ ]:
a = s[0:1]
print(a)

5    Rauf
dtype: object

In [ ]:
s[1:4]

10      Arif
15      Maaz
20    Hadeed
dtype: object

In [ ]:
s.loc[5:20]

5       Rauf
10      Arif
15      Maaz
20    Hadeed
dtype: object

In [ ]:
s.iloc[0:5]

5        Rauf
10       Arif
15       Maaz
20     Hadeed
25    Mujahid
dtype: object

In [10]:
list1 = ['Rauf', 'Arif', 'Maaz', 'Hadeed', 'Mujahid']
indices = ['num1', 'num2', 'num3', 'num4', 'num5']
x = pd.Series(data=list1, index=indices)
print(x)

num1       Rauf
num2       Arif
num3       Maaz
num4     Hadeed
num5    Mujahid
dtype: object

In [12]:
x['num1':'num4':1]

num1      Rauf
num2      Arif
num3      Maaz
num4    Hadeed
dtype: object

In [ ]:
x.loc['num2':'num5']

num2       Arif
num3       Maaz
num4     Hadeed
num5    Mujahid
dtype: object

In [ ]:
x[0:4]

num1      Rauf
num2      Arif
num3      Maaz
num4    Hadeed
dtype: object

In [ ]:
x['num2':'num5':1]

num2       Arif
num3       Maaz
num4     Hadeed
num5    Mujahid
dtype: object

In [ ]:
# The step works fine with string indices as well
x['num2':'num5':2]

num2      Arif
num4    Hadeed
dtype: object

In [15]:
import numpy as np
dict = {
    "name": pd.Series(['Arif', 'Hadeed', 'Mujahid', 'Maaz'], index=['a','b','c', 'd']),
    "age": pd.Series([50, 22,np.nan, 18], index=['a','x','y','d']),
    "addr": pd.Series(['Lahore', '','Karachi'], index=['a', 'd', 'x']),
}
df = pd.DataFrame(dict)
df

      name   age     addr
a     Arif  50.0   Lahore
b   Hadeed   NaN      NaN
c  Mujahid   NaN      NaN
d     Maaz  18.0
x      NaN  22.0  Karachi
y      NaN   NaN      NaN

In [18]:
df.tail(-2)

      name   age     addr
c  Mujahid   NaN      NaN
d     Maaz  18.0
x      NaN  22.0  Karachi
y      NaN   NaN      NaN

In [19]:
df.head(-2)

      name   age    addr
a     Arif  50.0  Lahore
b   Hadeed   NaN     NaN
c  Mujahid   NaN     NaN
d     Maaz  18.0

In [25]:
df.sample(3,random_state=0)

      name  age addr
y      NaN  NaN  NaN
c  Mujahid  NaN  NaN
b   Hadeed  NaN  NaN

In [29]:
df_sorted = df.sort_values('age')
df_sorted.head()

      name   age     addr
d     Maaz  18.0
x      NaN  22.0  Karachi
a     Arif  50.0   Lahore
b   Hadeed   NaN      NaN
c  Mujahid   NaN      NaN

In [46]:
df_sorted.loc['d',:'name']

name    Maaz
Name: d, dtype: object

In [54]:
c = df.reset_index(drop=False)
c

  index     name   age     addr
0     a     Arif  50.0   Lahore
1     b   Hadeed   NaN      NaN
2     c  Mujahid   NaN      NaN
3     d     Maaz  18.0
4     x      NaN  22.0  Karachi
5     y      NaN   NaN      NaN

In [58]:
c.loc[:, 'name']

0       Arif
1     Hadeed
2    Mujahid
3       Maaz
4        NaN
5        NaN
Name: name, dtype: object

In [59]:
c[c.age>40]

  index  name   age    addr
0     a  Arif  50.0  Lahore

In [61]:
c.loc[0:3, ['name', 'addr']]

      name    addr
0     Arif  Lahore
1   Hadeed     NaN
2  Mujahid     NaN
3     Maaz

In [62]:
c.count()

index    6
name     4
age      3
addr     3
dtype: int64

In [65]:
c[['name','addr']].head(2)

     name    addr
0    Arif  Lahore
1  Hadeed     NaN